/* Estilos Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.logo {
    width: 150px;
    height: auto;
    padding: 0px;
    margin: 5px;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #F9975D;
    height: 30px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
}

.nav-link {
    background-color: #F9975D;
    height: 30px;
    /* padding: 5px; */
    border: solid #89f70b 1px;
}

.body {
    background: #E9ECF4;
    color: #000;
    font-size: 20px;
    font-family: 'Crimson Pro', serif;
}

.sidebar {
    display: flex;
    background: #fAA43D;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    grid-area: sidebar;
}

.widget-1:hover {
    color: orange;
    transform: skewY(20deg);
    animation-delay: 3s;
}

.widget-2 {
    grid-area: widget-2;
}

.widget-2:hover {
    display: block;
}

.footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
}

/* Estilos Pagina Autores */

.columns {
    box-sizing: content-box;
}

.columns__left {
    padding: 10px;
    width: 500px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid blue;
    box-sizing: border-box;
    column-gap: 40px;
}

.columns__right {
    padding: 10px;
    width: 500px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid blue;
    box-sizing: border-box;
}

/* Estilos Pagina Contacto */

.form__contact {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
} 

/* Estilos Pagina Ideas */

.table {
    box-sizing: content-box;
}

.table__left {
    padding: 10px;
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid green;
    box-sizing: border-box;
    column-gap: 40px;
}

.table__center {
    padding: 10px;
    width: 350px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid yellow;
    box-sizing: border-box;
}

.table__right {
    padding: 10px;
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid violet;
    box-sizing: border-box;
}

/* Estilos Pagina de Temas */
/* Usando Flex */

.nav__topics {
    display: flex;
    flex-direction: column;
    background-color: #C85C5C;
    height: 40px;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
}

.nav__topics__links {
    background-color: #F9975D;
    padding: 5px;
    border: solid #B2EA70 3px;
}

.box__theme__topics {
    width: 1000px;
    height: 300px;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    margin-top: 25px;
}

.title__theme__topics {
    margin-left: 10px;
}

.paragraph__theme__topics {
    width: 980px;
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    margin: 5px;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}